.coresicons{
    height: 20vh;
    width:40% ;
}
.corehead{
    color: #0a0d31;
    font-size: x-large;
    letter-spacing: 1px;
}
.coretext{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#000000;
}
.the3cores{
    width: 30%;
    margin-left: 3em;
}