.footer{
    background-color: #3b3b3b;
    height: 50vh;
    display: flex;
    flex-direction: row;
   
}
.foot_content{
    display: flex;
    flex-direction: column;
   margin-left: 5em;
   width:20%;
}
a{
    text-decoration: none;
    color:beige
}


.socialiconscontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.linksocialicons{
    height: 200px;
    width:200px;
    margin-left: -9em;
}
.socialicons{
    
    height: 200px;
    width:200px;
}
.navs{
    padding-bottom: 10px;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
}
.footer_Titles{
    color: black;
}
.servicenavs{
    padding-bottom: 8px;
    font-weight: bolder;
    
    font-size: large;
}
.servicenavs:hover{
    text-decoration:line-through;
    color: aliceblue;
}
.loc{
    color: aliceblue;
}
