.aboutpage{
    background-color: #ecedee;
    
}
.headerText{
    color: #000000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 4rem;
    font-size:xx-large;
    font-weight: bolder;
}
.header{
    margin-left: 3rem;
    color: #000000;
}
.start_text{
    font-size: large;
    color: rgb(53, 53, 53);
}
.horizontal_cards{
    display: flex;
    flex-direction: row;
    
}