.advimages{
   
   
   width: 85%;
   height: 60vh;
   border-radius: 20px;
}
.bgcolor{
    margin-top: 3px;
    background-color: #ffffff;
    display: flex;
   justify-content: center;
   align-items: center;
}