.pagecontent{
  background-color: #ffffff;
  overflow: hidden;
}
.logoimage{
  height: 4em;
  width: 4em;
  
}

.headerleftcontent {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  margin-left: 1em;

}
.htag{
  margin-top: 1em;
  color:#E52A00;
  font-weight: bold;
  font-size: large;
  margin-left: 1.5em;
}
.headerptag {
  display: inline;
  margin-top: 2.5rem; 
  margin-left: -4.3rem;
  font-weight: 300;
  font-size: medium;
  color:#000000;
}
.inteli-icon {
  display: flex;
  margin-left: auto;
  margin-top: -3.5rem;
  margin-right: 1em;
}
.popup{
  border:solid,red,2px
}
nav {
  display: flex;
  justify-content: center;
  margin-top: -3rem;
  font-weight: bolder;
}

nav a {
  margin: 0 10px; 
  text-decoration: none;
  color: #000000;
}
.active {
  font-weight: bold;
  color: #F7D000; 
}

.contact-active{
  background-color: #007bff;
  color: white;
}

nav a:hover {
  border-bottom: 2px solid #E52A00; 
}
.Contact{
  background-color: #E52A00;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-top: -0.5em;
}

  .horline {
    width: 99%;
    height: 1px;
    background-color: rgb(226, 222, 222);
    margin: 0 auto;
    margin-top: 10px;
  }
  .popup {
    position: fixed;
    top: 20%;
    left: 81%;
    transform: translate(-50%, -50%);
    width: 30%;
    z-index: 9999;
    background-color: #F7D000;
    border: 1px solid grey;
    border-radius: 5px;
  }
  .cancel{
    position: fixed;
    top: -5%;
    left: 85%;
    width: 3em;
    height:3em
  }
  .cancel:hover{
    cursor: pointer;
  }
  .newsletterhead{
    text-align: center;
    color: #0a0d31;
  }
  .newslabel{
    display: inline-block;
    width: 120px; /* Adjust as needed */
    text-align: right;
  }
  .newslettersubmition{
    margin-left: 12em;
    width: 15%;
    padding: 5px;
    margin-top:1em ;
    margin-bottom: 1em;
    background-color: purple;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 5px;
  }
  .newslettersubmition:hover{
    cursor: pointer;
    border: 1px solid red;
  }